<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu Page</title>
  </head>
  <body>
    <h1>Menu</h1>
    <%- dishData.map((e) => { %> <%= e.name %>
    <br />
    <%= e.price %>
    <br />
    <%= e.description %> <%- }); %>
    <a href="/add">Add Dish</a>
  </body>
</html>
